/**
 * 오른 입찰 결과
 */
.admin ._ascending_bidding_result table tbody tr td {
    text-align:center;
}

/**
 * 밀봉 최소입찰액
 */
.admin .seal_lowest_bid_price table tbody tr td {
    text-align:center;
}


/**
* 전체 경매의 진행 상태를 표시
*/
.admin ._bidding_state {
    margin-top:20px;
    margin-bottom:20px;
    font-size:20px;
    color:#337AB7;
}

/**
* 라운드 표시
*/
.admin ._round_mark div {
    text-align: center;
    padding: 10px 5px 10px 5px;
}
.admin ._round_mark div strong {
    font-size: 50px;
}
.admin ._round_mark div span {
    font-size: 30px;
}

/**
* 증분율 표시
*/
.admin ._bid_rate {
    margin-top:20px;
}

.admin .table-bordered>thead>tr>th,
.admin .table-bordered>thead>tr>td,
.admin .table-bordered>tbody>tr>td,
.admin .table-bordered>tbody>tr>th{
    border: 1px solid #7A919C;
}

.admin .start_price_list td:first-child{
    vertical-align: middle;
}
/*.admin .start_price_list ._start_price{
    font-size: 30px;
}*/


/*.admin ._countdown>li {
    text-align: center;
    padding-bottom: 20px;
}*/

.admin .clock {
    zoom:0.4;
    -moz-transform: scale(0.4)
}

.admin .flip-clock-wrapper {
  /* text-align: center; */
  /* position: relative; */
  /* width: 100%; */
  margin: 0 auto;
  max-width: 300px;
  margin-top: 2em;
}

.admin .clock {
    margin-top:0px;
}

.admin .flip-clock-label {
    display:none;
}
