.displayNone {
    display:none!important
}

.body-login-bg {
    background-color:#2D3E4F
}

.label-ALL-l,
.label-ALL-s {
    background-color: #777;
}

.label-KT-l,
.label-KT-s {
    background-color: #ED1F27;
}

.label-SK-l,
.label-SK-s {
    /*background-color: #F58026;*/
    background-color:#0072FF;
}

.label-LG-l ,
.label-LG-s {
    /*background-color: #E40080;*/
    background-color: #2EB502;
}

.label-KT-l,
.label-SK-l,
.label-LG-l {
    font-size : 100%
}

.text-gray {
     color: #C1C1C1;
}

._accordion_btn {
    float: right;
    margin-top: -4px;
}


/**
 * 입찰자 로고 사이즈
 */
.bidder .bidder_logo {
    width:10%;
    height:10%;
}


.r2-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden;
}

.r2-dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

/*@media (min-width: 768px){
    .r2-dialog-main {
        width: 600px;
        margin: 30px auto;
    }
}*/

.r2-dialog-main {
    position: relative;
    /*width: 600px;*/
    margin: 30px auto;
}

.r2-loading {
    width:400px;
}

.r2-loading-title {
    text-align:center;
    color : #fff;
    font-size : 14px;
}
