.displayNone {
    display:none;
}

.body-login-bg {
    background-color:#2D3E4F
}

.label-KT-l,
.label-KT-s {
    background-color: #ED1F27;
}

.label-SK-l,
.label-SK-s {
    background-color: #F58026;
}

.label-LG-l ,
.label-LG-s {
    background-color: #E40080;
}

.label-KT-l,
.label-SK-l,
.label-LG-l {
    font-size : 100%
}

.text-gray {
     color: #C1C1C1;
}

._accordion_btn {
    float: right;
    margin-top: -4px;
}
