.displayNone {
    display:none;
}

.body-login-bg {
    background-color:#2D3E4F
}

.label-kt {
    background-color: #ED1F27;
}

.label-sk {
    background-color: #F58026;
}

.label-lg {
    background-color: #E40080;
}

.text-gray {
     color: #C1C1C1;
}

._accordion_btn {
    float: right;
    margin-top: -4px;
}
