

#dashboard {
    padding:0px;
}

#dashboard .dashboard_header {
    margin-right: 6px;
}

#dashboard .dashboard_header span {
    font-size:250%;
}

#dashboard .clock,
#dashboard .count_down {
    zoom:0.5;
    -moz-transform: scale(0.4);
    float:right;
}

#dashboard .flip-clock-wrapper {
  /* text-align: center; */
  /* position: relative; */
  /* width: 100%; */
  margin: 0 auto;
  max-width: 500px;
  margin-top: 2em;
}

#dashboard .clock,
#dashboard .count_down {
    margin-top:0px;
}

#dashboard .flip-clock-label {
    display:none;
}

#dashboard .flip-clock-wrapper ul li a div div.inn {
    background-color: #FFF;
    color:#000;
}

#dashboard .flip-clock-divider .flip-clock-dot {
    background-color: #FFF;
}


/**
* 대시보드에서 공통적으로 사용하는 스타일 시트
*/
#dashboard ._last_winCompany_KT,
#dashboard ._last_winCompany_SK,
#dashboard ._last_winCompany_LG {
    color:#FFF;
}
#dashboard ._last_winCompany_KT {
    background-color: #ED1F27;
}
#dashboard ._last_winCompany_SK {
    background-color: #0072FF;
}
#dashboard ._last_winCompany_LG  {
    background-color: #2EB502;
}

/**
* 대시보드 상단의 마지막 라운드 블록 관련 스타일 시트
*/
#dashboard ._last_round_block th{
    font-size:200%;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}

/**
* 대시보드 상단의 마지막 라운드 시작가 관련 스타일 시트
*/
#dashboard ._start_price_list td{
    font-size:200%;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}

/**
* 대시보드 상단의 마지막 라운드 현재가 관련 스타일 시트
*/
#dashboard ._last_round_price_list td{
    font-size:200%;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}

/**
* 대시보드 상단의 마지막 라운드 승자 관련 스타일 시트
*/
#dashboard ._last_round_company_list td {
    font-size:200%;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}

/**
* 대시보드 상단의 마지막 라운드 최소입찰액 스타일 시트
*/
#dashboard ._last_round_lowest_bidding_price_list td {
    font-size:200%;
    vertical-align: middle;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}

#dashboard ._round_list tr td:first-child{
    width:214px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(2){
    width:100px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(3){
    width:98px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(4){
    width:93px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(5){
    width:93px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(6){
    width:100px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(7){
    width:98px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(8){
    width:93px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(9){
    width:93px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(10){
    width:100px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(11){
    width:98px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(12){
    width:93px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(13){
    width:93px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(14){
    width:100px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(15){
    width:98px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(16){
    width:93px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(17){
    width:93px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(18){
    width:100px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(19){
    width:98px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(20){
    width:93px;
    border: 1px solid #455C68!important;
}
#dashboard ._round_list tr td:nth-child(21){
    width:93px;
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}



/*#dashboard .dashboard_round_header thead th,
#dashboard .dashboard_round_header thead td {
    border: 1px solid #455C68!important;
    border-right: 6px solid #455C68!important;
}
#dashboard .dashboard_round_header thead td:last-child {
    border: 1px solid #455C68!important;
    border-right: 0px solid #455C68!important;
}*/
#dashboard .dashboard_round_header tbody td{
    border: 1px solid #455C68!important;
    border-right: 0px solid #455C68!important;
}




#dashboard .dashboard_round tbody td{
    height:70px;
}

#dashboard .dashboard_round tbody td:last-child{
    border: 1px solid #455C68!important;
    border-right: 0px solid #455C68!important;
}
