/**
* panel navy color set
*/
.panel-navy {
  border-color: #455C68;
}
.panel-navy > .panel-heading {
  color: #fff;
  background-color: #455C68;
  border-color: #455C68;
}
.panel-navy > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #455C68;
}
.panel-navy > .panel-heading .badge {
  color: #2C3E50;
  background-color: #000;
}
.panel-navy > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #455C68;
}

.login {
    max-width: 870px;
    padding: 15px;
    margin: 10% auto;
}

.kt-logo {
  width : 20%;
  height : 20%;
}
/*
body {
    background-color:#2D3E4F
}*/
