._round_number span {
    font-size:1000%;
}

._round_number strong {
    font-size:500%;
}

._frequency th{
    font-size : 200%;
    background-color: #455C68;
    color:#fff;
    padding:20px!important;
}

._start_price_list td{
    font-size : 500%;
    background-color: #455C68;
    color:#fff;
    padding:20px!important;
}

._bidder td:first-child {
    font-size:700%;
    text-align: center;
    vertical-align: middle;
}

._bidder td ._won_price {
    font-size:500%;
}

._bidder td ._rate_increase {
    font-size:400%;
}
