<td class="text-center"><strong>{{name}}</strong></td>
{{#frequency}}
    {{#bidders}}
        {{#isHertz}}
        <td class="text-center" style="vertical-align: middle;">
            <span class="{{className}}">{{price}}</span>
        </td>
        {{else}}
        <td class="text-center" style="vertical-align: middle;">
            <span class="{{className}}"><small>미신청<br>주파수</small></span>
        </td>
        {{/isHertz}}

    {{/bidders}}
    {{^bidders}}
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    {{/bidders}}
{{/frequency}}
