<td>{{name}}</td>
{{#frequency}}
    {{#bidders}}
    <td style="text-align:center;">
        <!--  label label-{{name}}-l -->
        <span class="{{className}}">{{price}}</span>
    </td>
    {{/bidders}}
    {{^bidders}}
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    <td style="text-align:center;">진행중</td>
    {{/bidders}}
{{/frequency}}
