<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <ul class="nav navbar-nav">
                        <li><p style="margin:0px;padding:15px 15px;"><strong>관리자</strong></p></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <ul class="nav navbar-nav connect_user_list">
                        <script class="connect_user_list_tpl" type="text/x-handlebars-template">
                            {{#list}}
                            <li><p style="margin:0px;padding:15px 15px;"><span class="label label-{{className}}">{{name}}</span></p></li>
                            {{/list}}
                        </script>

                    </ul>
                </li>
                <li><p style="margin:0px;padding:10px 10px;">
                    <button class="btn btn-default btn-sm _logout_btn"><i class="fa fa-sign-out" aria-hidden="true"></i><strong> 로그아웃</strong></button>
                </p></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid" style="margin-top:50px;">

    <div class="row">
        <div class="col-md-2">

            <div class="row _round_mark">
                <div class="col-md-12">
                    <strong>1</strong><span> ROUND</span>
                </div>
            </div>

            <div class="row _round_start">
                <div class="col-md-12">
                    <button class="btn btn-success btn-block _round_start_btn"><strong>시작</strong></button>
                </div>
            </div>

            <ul class="list-group _bid_rate">
              <li class="list-group-item">
                <span class="badge">0.75%</span>
                <strong>증분율 :</strong>
              </li>
            </ul>

            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <strong>입찰유형</strong>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6" style="border-right:1px dashed #aaaaaa">
                                        <strong class=" _m2_r" style="font-size:12px;"> B : 입찰</strong><br>
                                        <strong class=" _m2_r" style="font-size:12px;"> N : 입찰안함</strong><br>
                                    </div>
                                    <div class="col-md-6">
                                        <strong class=" _m2_r" style="font-size:12px;"> A : 자동입찰</strong><br>
                                        <strong class=" _m2_r" style="font-size:12px;"> D : 유예</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12 _bid_bandWidth"></div>
            </div>

            <div class="row">
                <div class="col-md-12 _bid_biddingDelayCount"></div>
            </div>

            <ul class="list-group _countdown">
              <li class="list-group-item">
                <div class="clock"></div>
              </li>
            </ul>



            <div class="row">
                <div class="col-md-12 _ta_c _m20_b">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary _acending_btn"><strong>오름입찰결과</strong></button>
                        <button class="btn btn-primary _seal_bid_start_btn" disabled="disabled"><strong>밀봉입찰시작</strong></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-block _again_seal_bid_btn displayNone">
                        <i class="fa fa-check"></i><strong> 다시입찰</strong>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-block _tie_seal_bid_btn displayNone">
                        <i class="fa fa-check"></i><strong> 동점재입찰</strong>
                    </button>
                </div>
            </div>



            <!-- <div class="row _countdown">
                <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">타이머</h3>
                      </div>
                      <div class="panel-body">
                        <div class="clock"></div>
                      </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-md-10">

            <ul class="list-group _bidding_state">
              <li class="list-group-item">
                <i class="fa fa-bullhorn" aria-hidden="true"></i> <strong>1 라운드 준비중입니다.</strong>
              </li>
            </ul>

            <ul class="nav nav-tabs _m20_b" role="tablist">
                <li class="active">
                    <a href="#ascending_bidding" aria-controls="ascending_bidding" role="tab" data-toggle="tab"><strong>오름입찰</strong></a>
                </li>
                <li>
                    <a href="#profile" class="_seal_bid_tap" aria-controls="profile" role="tab" data-toggle="tab"><strong>밀봉입찰</strong></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active _ascending_bidding" id="ascending_bidding">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info _ascending_bidding_result_alert displayNone" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p style="font-size:14px;">
                                    <strong>오름입찰</strong>의 모든 라운드과 완료 되었습니다. <strong>오름입찰</strong>의 결과를 확인 후 <strong>밀봉입찰</strong>을 시작하시기 바랍니다.</p>
                            </div>
                        </div>
                    </div>

                    <!--  /오름입찰-->
                    <div class="row _ascending_bidding_auction">
                        <div class="col-md-12">
                            <div class="panel panel-navy">
                                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰</strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">구분</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bidder_list">
                                            <td class="text-center"><strong>사업자</strong></td>
                                            <td class="text-center"><span class="label label-KT-l">KT</span></td>
                                            <td class="text-center"><span class="label label-SK-l">SKT</span></td>
                                            <td class="text-center"><span class="label label-LG-l">LGU+</span></td>

                                            <td class="text-center"><span class="label label-KT-l">KT</span></td>
                                            <td class="text-center"><span class="label label-SK-l">SKT</span></td>
                                            <td class="text-center"><span class="label label-LG-l">LGU+</span></td>

                                            <td class="text-center"><span class="label label-KT-l">KT</span></td>
                                            <td class="text-center"><span class="label label-SK-l">SKT</span></td>
                                            <td class="text-center"><span class="label label-LG-l">LGU+</span></td>

                                            <td class="text-center"><span class="label label-KT-l">KT</span></td>
                                            <td class="text-center"><span class="label label-SK-l">SKT</span></td>
                                            <td class="text-center"><span class="label label-LG-l">LGU+</span></td>

                                            <td class="text-center"><span class="label label-KT-l">KT</span></td>
                                            <td class="text-center"><span class="label label-SK-l">SKT</span></td>
                                            <td class="text-center"><span class="label label-LG-l">LGU+</span></td>

                                        </tr>

                                        <!-- 시작가 -->
                                        <tr class="start_price_list">
                                            <td class="text-center"><strong>시작가</strong></td>
                                            <script class="start_price_list_tpl" type="text/x-handlebars-template">
                                                <{{#priceList}}
                                                <td class="text-center" colspan=3>
                                                    <span>{{price}}</span>
                                                </td>
                                                {{/priceList}}
                                            </script>
                                        </tr><!--/ 시작가 -->

                                    </tbody>
                                </table>
                            </div><!--/ panel -->
                        </div><!--/ col-md-12 -->
                    </div><!--/ 오름입찰-->

                    <!--  오름 입찰 결과-->
                    <div class="row _ascending_bidding_result displayNone">
                        <div class="col-md-12">
                            <div class="panel panel-navy">
                                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰 결과 ( 밀봉입찰 최소액 ) </strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">구분</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                            <th class="text-center" colspan=3><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <script class="bindding_result_tpl" type="text/x-handlebars-template">
                                            {{#bidderList}}
                                            <tr>
                                                <td  class="text-center"><span class="label label-{{name}}-l">{{companyName}}</span></td>
                                                {{#priceList}}
                                                    {{#isHertz}}
                                                        <td style="text-align:center;vertical-align: middle;">
                                                            <span class="label label-{{labelClass}}">{{ranking}} 순위</span>
                                                        </td>
                                                        <td style="text-align:center;vertical-align: middle;">{{price}}</td>
                                                        <td style="text-align:center;vertical-align: middle;">{{percent}}%</td>
                                                    {{else}}
                                                        <td style="text-align:center;vertical-align: middle;" colspan=3>
                                                            <span class="text-gray"><small>미신청주파수</small></span>
                                                        </td>
                                                    {{/isHertz}}
                                                {{/priceList}}
                                            </tr>
                                            {{/bidderList}}
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!--/ 오름 입찰 결과-->
                </div><!--/ 오름 입찰-->


                <!-- 밀봉 입봉입찰-->
                <div role="tabpanel" class="tab-pane" id="profile">



                    <!--  밀봉 최소입찰액-->
                    <div class="row seal_lowest_bid_price">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-info _seal_bidding_result_alert displayNone" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p>
                                            모든 입찰자가 밀봉입찰에 참여 하였습니다.
                                        </p>
                                        <p>
                                            밀봉입찰을 다시 시작하시려면 <span class="label label-primary">다시입찰</span>을 클릭하여 주시기 바랍니다.
                                        </p>
                                        <p>
                                            1위 동점자가 발생 시 <span class="label label-primary">동점자재입찰</span>을 클릭하여 주시기 바랍니다.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-navy">
                                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉최소입찰액</strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <script class="seal_lowest_bid_price_tpl" type="text/x-handlebars-template">
                                            {{#bidderList}}
                                            <tr>
                                                <td  class="text-center"><span class="label label-{{name}}-l">{{companyName}}</span></td>
                                                {{#priceList}}
                                                    {{#isHertz}}
                                                        <td style="text-align:center;vertical-align: middle;">
                                                            <span class="label label-{{labelClass}}">{{ranking}} 순위</span>
                                                        </td>
                                                        <td style="text-align:center;vertical-align: middle;">{{price}}</td>
                                                    {{else}}
                                                        <td style="text-align:center;vertical-align: middle;" colspan=2>
                                                            <span class="text-gray"><small>미신청주파수</small></span>
                                                        </td>
                                                    {{/isHertz}}
                                                {{/priceList}}
                                            </tr>
                                            {{/bidderList}}
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  /밀봉 최소입찰액-->

                    <!--  밀봉입찰액-->
                    <div class="row _seal_bid_price">
                        <div class="col-md-12">
                            <div class="panel panel-navy">
                                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰액 </strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">구분</th>
                                            <th class="text-center"><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                            <th class="text-center"><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                            <th class="text-center"><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                            <th class="text-center"><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                            <th class="text-center"><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <script class="_seal_bid_price_list_tpl" type="text/x-handlebars-template">
                                            {{#bidderList}}
                                            <tr class="_seal_bid_price_list">
                                                <td  class="text-center"><span class="label label-{{name}}-l">{{companyName}}</span></td>
                                                {{#priceList}}
                                                    {{#isHertz}}
                                                        <td class="text-center">{{price}}</td>
                                                    {{else}}
                                                        <td style="text-align:center;vertical-align: middle;">
                                                            <span class="text-gray"><small>미신청주파수</small></span>
                                                        </td>
                                                    {{/isHertz}}
                                                {{/priceList}}
                                            </tr>
                                            {{/bidderList}}
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  /밀봉입찰액-->


                    <!-- 밀봉 입찰 조합 결과 -->

                    <div class="row _seal_bid_combination">
                        <div class="col-md-12">
                            <div class="panel panel-navy">
                                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰 결과 조합</strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">순위</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                            <th class="text-center" colspan=2><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                            <th class="text-center">합계</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <script class="_seal_bid_combination_list_tpl" type="text/x-handlebars-template">
                                            {{#combinationList}}
                                            <tr class="_seal_bid_combination_list">
                                                <td class="text-center"><strong>{{ranking}}</strong></td>
                                                {{#combination}}
                                                    <td class="text-center"><span class="label label-{{labelClass}}-s">{{company}}</span></td>
                                                    {{#isHertz}}
                                                        <td class="text-center"><strong>{{price}}</strong></td>
                                                    {{else}}
                                                        <td style="text-align:center;vertical-align: middle;">
                                                            <span class="text-gray"><small>미신청주파수</small></span>
                                                        </td>
                                                    {{/isHertz}}
                                                {{/combination}}
                                                <td class="text-center"><strong>{{priceSum}}</strong></td>
                                            </tr>
                                            {{/combinationList}}
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--/ 밀봉 입찰 조합 결과 -->

                </div><!--/ 밀봉 입봉입찰-->
            </div>
        </div>
    </div>


</div><!-- /container fluid -->
