<div class="container-fluid">

    <!--로그인 상태 체크-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody>
                    <tr class="connect_user_list">
                        <script class="connect_user_list_tpl" type="text/x-handlebars-template">
                            <td>
                                <span>사용자상태 : </span>
                            </td>
                            <{{#list}}
                            <td class="connect_user">
                                <span class="label label-{{className}}">{{name}}</span>
                            </td>
                            {{/list}}
                        </script>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/로그인 상태 체크-->

    <div class="row">
        <div class="col-md-12" style="text-align:right">
            <input type="text" id="auction_id" placeholder="">
            <button class="btn btn-default btn-xs _auction_start_btn">모의경매시작</button>
            <button class="btn btn-default btn-xs _auction_end_btn">모의경매끝</button>
            <button class="btn btn-default btn-xs _logout_btn">로그아웃</button>
            <button class="btn btn-default btn-xs _clear_interval_btn">인터벌 스탑</button>
            <button class="btn btn-default btn-xs _acending_btn">오른입찰결과</button>

            <button class="btn btn-default btn-xs _round_start_btn">라운드 시작</button>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px;">
        <li role="presentation" class="active">
            <a href="#ascending_bidding" aria-controls="ascending_bidding" role="tab" data-toggle="tab">오른입찰</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">밀봉입찰</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active _ascending_bidding" id="ascending_bidding">
            <!--  /오름입찰-->
            <div class="row _ascending_bidding_auction">
                <div class="col-md-12">

                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰</strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bidder_list">
                                    <td>사업자</td>
                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                </tr>

                                <!-- 시작가 -->
                                <tr class="start_price_list">
                                    <td>시작가</td>
                                    <script class="start_price_list_tpl" type="text/x-handlebars-template">
                                        <{{#priceList}}
                                        <td style="text-align:center;" colspan=3>
                                            <span>{{price}}</span>
                                        </td>
                                        {{/priceList}}
                                    </script>
                                </tr><!--/ 시작가 -->

                                <!-- <tr class="round_price_list">
                                    <script class="round_price_list_tpl" type="text/x-handlebars-template">

                                    </script>
                                </tr> -->


                                <!-- <tr>
                                    <td>
                                        <button class="btn btn-default btn-xs _round_start_btn">1 라운드 시작</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr> -->


                                <!-- 라운드 리스트 -->
                                <!-- <script class="round_price_list_tpl" type="text/x-handlebars-template">
                                    {{#roundList}}
                                    <tr class="round_price_list">
                                        <td>{{round}}</td>
                                        {{#frequency}}
                                            {{#bidders}}
                                            <td style="text-align:center;">
                                                <span class="{{className}}">{{price}}</span>
                                            </td>
                                            {{/bidders}}
                                        {{/frequency}}
                                    </tr>
                                    {{/roundList}}
                                </script> -->
                                <!--/ 라운드 리스트 -->

                            </tbody>
                        </table>
                    </div><!--/ panel -->
                </div><!--/ col-md-12 -->
            </div><!--/ 오름입찰-->

            <!--  오름 입찰 결과-->
            <div class="row _ascending_bidding_result displayNone">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰 결과 ( 밀봉입찰 최소액 ) </strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script class="bindding_result_tpl" type="text/x-handlebars-template">
                                    {{#bidderList}}
                                    <tr>
                                        <td>{{name}}</td>
                                        {{#priceList}}
                                            <td>{{price}}</td>
                                            <td>{{percent}}%</td>
                                            <td><span class="label label-{{labelClass}}">{{ranking}} 순위</span></td>
                                        {{/priceList}}
                                    </tr>
                                    {{/bidderList}}
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--/ 오름 입찰 결과-->
        </div><!--/ 오름 입찰-->


        <!-- 밀봉 입봉입찰-->
        <div role="tabpanel" class="tab-pane" id="profile">
            <!--  밀봉 최소입찰액-->
            <div class="row seal_lowest_bid_price">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉최소입찰액</strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;" colspan=2><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                    <th style="text-align:center;" colspan=2><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                    <th style="text-align:center;" colspan=2><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                    <th style="text-align:center;" colspan=2><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                    <th style="text-align:center;" colspan=2><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script class="seal_lowest_bid_price_tpl" type="text/x-handlebars-template">
                                    {{#bidderList}}
                                    <tr>
                                        <td>{{name}}</td>
                                        {{#priceList}}
                                            <td>{{price}}</td>
                                            <td><span class="label label-{{labelClass}}">{{ranking}} 순위</span></td>
                                        {{/priceList}}
                                    </tr>
                                    {{/bidderList}}
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  /밀봉 최소입찰액-->

            <!--  밀봉입찰액-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰액 </strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  /밀봉입찰액-->


            <!--  밀봉 최소입찰액-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰 결과 조합</strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                    <th>계</th>
                                    <th>재할당대가</th>
                                    <th>사업자별</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--  /밀봉 최소입찰액-->

        </div><!--/ 밀봉 입봉입찰-->
    </div>
</div><!-- /container fluid -->
