<div class="container-fluid">

    <!--  최저경쟁가격-->
    <!-- <div class="row">

        <div class="col-md-10">
            <div class="panel panel-navy">
                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 최저경쟁가격</strong></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="3">광대역</th>
                            <th colspan="2">협대역</th>
                            <th>재할당대가</th>
                            <th>2.1Ghz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 최소입찰증분</strong></div>
                <h1 class="text-center">
                    4%
                </h1>
            </div>
        </div>

    </div> -->




    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">오른입찰</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">밀봉입찰</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <!--  /오름입찰-->
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="row">
                        <span class="label label-danger">KT</span>
                        <span class="label label-primary">SK</span>
                        <span class="label label-success">LG</span>
                    </div> -->
                    <!-- Single button -->
                    <!-- <div class="btn-group"> -->
                        <ul style="padding:0">
                            <li style="display: inline-block"><h3><span class="label label-kt">KT</span></h3></li>
                            <li style="display: inline-block"><h3><span class="label label-sk">SK</span></h3></li>
                            <li style="display: inline-block"><h3><span class="label label-lg">LG</span></h3></li>
<!--
                            <li style="display: inline-block">
                                <img style="width:20%;height;20%" src="img/kt.jpg" alt="" />
                            </li>
                            <li style="display: inline-block">
                                <img style="width:20%;height;20%" src="img/sk_logo.png" alt="" />
                            </li>
                            <li style="display: inline-block">
                                <img style="width:20%;height;20%" src="img/lg_logo.png" alt="" />
                            </li> -->
                          </ul>

                          <!-- <div>
                              <img style="width:20%;height;20%" src="img/kt.jpg" alt="" />
                              <img style="width:20%;height;20%" src="img/sk_logo.png" alt="" />
                              <img style="width:20%;height;20%" src="img/lg_logo.png" alt="" />
                          </div> -->
                    <!-- </div> -->
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰</strong></div>
                        <table class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody>

                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;" colspan="3">700Mhz</th>
                                    <th style="text-align:center;" colspan="3">2.1Ghz</th>
                                    <th style="text-align:center;" colspan="3">2.6Ghz</th>
                                    <th style="text-align:center;" colspan="3">1.8Ghz(협)</th>
                                    <th style="text-align:center;" colspan="3">2.6Ghz(협)</th>

                                </tr>
                                <tr>
                                    <th>사업자</th>
                                    <th style="text-align:center;"><span class="label label-kt">KT</span></th>
                                    <th style="text-align:center;"><span class="label label-sk">SK</span></th>
                                    <th style="text-align:center;"><span class="label label-lg">LG</span></th>

                                    <th style="text-align:center;"><span class="label label-kt">KT</span></th>
                                    <th style="text-align:center;"><span class="label label-sk">SK</span></th>
                                    <th style="text-align:center;"><span class="label label-lg">LG</span></th>

                                    <th style="text-align:center;"><span class="label label-kt">KT</span></th>
                                    <th style="text-align:center;"><span class="label label-sk">SK</span></th>
                                    <th style="text-align:center;"><span class="label label-lg">LG</span></th>

                                    <th style="text-align:center;"><span class="label label-kt">KT</span></th>
                                    <th style="text-align:center;"><span class="label label-sk">SK</span></th>
                                    <th style="text-align:center;"><span class="label label-lg">LG</span></th>

                                    <th style="text-align:center;"><span class="label label-kt">KT</span></th>
                                    <th style="text-align:center;"><span class="label label-sk">SK</span></th>
                                    <th style="text-align:center;"><span class="label label-lg">LG</span></th>

                                </tr>
                                <tr>
                                    <th>시작가</th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th style="text-align:center;"><span class="label label-kt" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>

                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>

                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>

                                    <th style="text-align:center;"><span class="label label-kt" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>

                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>
                                    <th style="text-align:center;"><span class="text-gray">3980</span></th>

                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span class="label label-sk" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span class="label label-lg" style="font-size:100%">3980</span></th>

                                </tr>
                                <!-- <tr>
                                    <th>시작가</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                                    <th></th>
                                    <th></th>
                                </tr> -->

                                <!-- <tr>
                                    <th>입찰액</th>
                                    <th>사업자</th>
                                    <th>입찰액</th>
                                    <th>사업자</th>
                                    <th>입찰액</th>
                                    <th>사업자</th>
                                    <th>입찰액</th>
                                    <th>사업자</th>
                                    <th>입찰액</th>
                                    <th>사업자</th>
                                </tr> -->
                                <!-- <tr>
                                    <td>1</td>

                                    <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                                    <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                                    <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                                    <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                                    <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                                    <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>승자</th>
                                    <th style="text-align:center;" colspan="3">KT</th>
                                    <th style="text-align:center;" colspan="3">SK</th>
                                    <th style="text-align:center;" colspan="3">LG</th>
                                    <th style="text-align:center;" colspan="3"></th>
                                    <th style="text-align:center;" colspan="3"></th>
                                    <th>승자</th>
                                    <th>페지</th>
                                </tr> -->
                                <tr>
                                    <th>현재가</th>
                                    <th style="text-align:center;"><span class="text-warning">3980</span></th>
                                    <th style="text-align:center;"><span class="text-warning">3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span class="text-warning">3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>
                                    <th style="text-align:center;"><span>3980</span></th>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--  오름입찰-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰 결과 ( 밀봉입찰 최소액 ) </strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th colspan="2">700Mhz</th>
                                    <th colspan="2">2.1Ghz</th>
                                    <th colspan="2">2.6Ghz</th>
                                    <th colspan="2">1.8Ghz(협)</th>
                                    <th colspan="2">2.6Ghz(협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">KT</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                          <div class="progress-bar progress-bar-success" style="width: 35%">
                                            6,000
                                          </div>
                                          <div class="progress-bar progress-bar-warning" style="width: 20%">
                                            2,000
                                          </div>
                                          <div class="progress-bar progress-bar-danger" style="width: 15%">
                                            1,500
                                          </div>
                                          <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 5%">
                                            5,00
                                          </div>
                                          <div class="progress-bar progress-bar-default" style="width: 25%">
                                            2,500
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">SK</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                          <div class="progress-bar progress-bar-success" style="width: 35%">
                                            6,000
                                          </div>
                                          <div class="progress-bar progress-bar-warning" style="width: 20%">
                                            2,000
                                          </div>
                                          <div class="progress-bar progress-bar-danger" style="width: 15%">
                                            1,500
                                          </div>
                                          <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 5%">
                                            5,00
                                          </div>
                                          <div class="progress-bar progress-bar-default" style="width: 25%">
                                            2,500
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">LG</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>

                                    <td>6000</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                          <div class="progress-bar progress-bar-success" style="width: 35%">
                                            6,000
                                          </div>
                                          <div class="progress-bar progress-bar-warning" style="width: 20%">
                                            2,000
                                          </div>
                                          <div class="progress-bar progress-bar-danger" style="width: 15%">
                                            1,500
                                          </div>
                                          <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 5%">
                                            5,00
                                          </div>
                                          <div class="progress-bar progress-bar-default" style="width: 25%">
                                            2,500
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--  오름입찰-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰 결과 ( 밀봉입찰 최소액 ) </strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>KT</td>
                                    <td colspan="5">
                                        <div class="progress">
                                          <div class="progress-bar progress-bar-success" style="width: 35%">
                                            <span class="sr-only">35% Complete (success)</span>
                                          </div>
                                          <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                                            <span class="sr-only">20% Complete (warning)</span>
                                          </div>
                                          <div class="progress-bar progress-bar-danger" style="width: 10%">
                                            <span class="sr-only">10% Complete (danger)</span>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <!--  밀봉 최소입찰액-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉최소입찰액</strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  /밀봉 최소입찰액-->

            <!--  밀봉입찰액-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰액 </strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  /밀봉입찰액-->


            <!--  밀봉 최소입찰액-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 밀봉입찰 결과 조합</strong></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>700Mhz</th>
                                    <th>2.1Ghz</th>
                                    <th>2.6Ghz</th>
                                    <th>1.8Ghz(협)</th>
                                    <th>2.6Ghz(협)</th>
                                    <th>계</th>
                                    <th>재할당대가</th>
                                    <th>사업자별</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KT</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SK</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>LG</td>
                                    <td></td>
                                    <td>6000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  /밀봉 최소입찰액-->
        </div>
      </div>

    </div>







</div>
