<div class="container-fluid">

    <div class="row _bidder_info">
        <div class="col-md-10">
            <h4 style="float:left">입찰자 : </h4>
            <img src="img/kt_logo.jpg" style="width:3%;height:3%;" alt="" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-default _logout_btn">로그아웃</button>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">오름차순</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">밀봉입찰</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

            <!--  최저경쟁가격-->
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-navy _insert_bidder">
                        <div class="panel-heading">
                            <i class="fa fa-arrow-circle-right"></i><strong> 최저경쟁가격</strong>
                            <button type="button" class="btn btn-default btn-sm _accordion_btn">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                    <th style="text-align:center;"><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- 시작가 -->
                                <tr class="bidder_start_price_list">
                                    <td>시작가</td>
                                    <script class="bidder_start_price_list_tpl" type="text/x-handlebars-template">
                                        <{{#priceList}}
                                        <td style="text-align:center;">
                                            <span>{{price}}</span>
                                        </td>
                                        {{/priceList}}
                                    </script>
                                </tr><!--/ 시작가 -->

                                <!-- 최소경쟁가격 -->
                                <tr class="lowest_race_prices">
                                    <script class="lowest_race_prices_tpl" type="text/x-handlebars-template">
                                        <td>최저경쟁가격</td>
                                        {{#priceList}}
                                        <td style="text-align:center;">
                                            <span>{{price}}</span>
                                        </td>
                                        {{/priceList}}
                                    </script>
                                </tr><!--/ 최소경쟁가격 -->

                                <!-- 최소입찰액 -->
                                <tr class="lowest_bid_prices">
                                    <script class="lowest_bid_prices_tpl" type="text/x-handlebars-template">
                                        <td>최소입찰액</td>
                                        <{{#priceList}}
                                        <td style="text-align:center;">
                                            <span class="lowest_bid_price">{{price}}<span>
                                        </td>
                                        {{/priceList}}
                                    </script>
                                </tr><!--/ 최소입찰액 -->


                                <tr class="bid_prices">
                                    <td>입찰금액</td>
                                    <td>
                                        <input type="text" class="bid_price form-control" placeholder="">
                                    </td>
                                    <td>
                                        <input type="text" class="bid_price form-control" placeholder="">
                                    </td>
                                    <td>
                                        <input type="text" class="bid_price form-control" placeholder="">
                                    </td>
                                    <td>
                                        <input type="text" class="bid_price form-control" placeholder="">
                                    </td>
                                    <td>
                                        <input type="text" class="bid_price form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>블록별가격증가율</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>블록별가격증가율</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>1순위 블록 필요입찰액</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <button type="button" class="btn btn-default bid_btn" style="margin-right:10px;"><strong><i class="fa fa-check"></i> 입찰</strong></button>
                            <button type="button" class="btn btn-default delay_btn" style="margin-right:10px;"><strong><i class="fa fa-ban"></i> 유예</strong></button>
                            <button type="button" class="btn btn-default giveup_btn"><strong><i class="fa fa-times"></i> 포기</strong></button>

                            <button type="button" class="btn btn-default test_btn"><strong><i class="fa fa-times"></i> 테스트</strong></button>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 최소입찰증분</strong></div>
                        <h1 class="text-center">
                            4%
                        </h1>
                    </div>
                </div> -->

            </div>

            <!--  /오름입찰-->
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    <!-- <div style="text-align:center">
                        <ul style="padding:0">
                            <li style="display: inline-block"><h3><span class="label label-KT-l">KT</span></h3></li>
                            <li style="display: inline-block"><h3><span class="label label-SK-l">SK</span></h3></li>
                            <li style="display: inline-block"><h3><span class="label label-LG-l">LG</span></h3></li>
                        </ul>
                    </div> -->

                    <div class="panel panel-navy">
                        <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰</strong></div>
                        <table class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody class="ascending_bid">

                                <tr>
                                    <th>구분</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">A</span> - 700Mhz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">B</span> - 1.8Ghz (협)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">C</span> - 2.1Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">D</span> - 2.6Ghz (광)</th>
                                    <th style="text-align:center;" colspan=3><span class="label label-default" style="font-size:100%">E</span> - 2.6Ghz (협)</th>
                                </tr>
                                <tr class="bidder_list">
                                    <td>사업자</td>
                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                    <td style="text-align:center;"><span class="label label-KT-s">KT</span></td>
                                    <td style="text-align:center;"><span class="label label-SK-s">SK</span></td>
                                    <td style="text-align:center;"><span class="label label-LG-s">LG</span></td>

                                </tr>

                                <!-- 시작가 -->
                                <tr class="start_price_list">
                                    <td>시작가</td>
                                    <script class="start_price_list_tpl" type="text/x-handlebars-template">
                                        <{{#priceList}}
                                        <td style="text-align:center;" colspan=3>
                                            <span>{{price}}</span>
                                        </td>
                                        {{/priceList}}
                                    </script>
                                </tr><!--/ 시작가 -->

                                <!-- 라운드 리스트 -->
                                <script class="round_price_list_tpl" type="text/x-handlebars-template">
                                    {{#roundList}}
                                    <tr class="round_price_list">
                                        <td>{{round}}</td>
                                        {{#frequency}}
                                            <{{#bidders}}
                                            <td style="text-align:center;">
                                                <!--  label label-{{name}}-l -->
                                                <span class="{{className}}">{{price}}</span>
                                            </td>
                                            {{/bidders}}
                                        {{/frequency}}
                                    </tr>
                                    {{/roundList}}
                                </script><!--/ 라운드 리스트 -->

                                <!-- <tr class="round_prices">
                                    <script class="round_prices_tpl" type="text/x-handlebars-template">
                                        <th>1라운드</th>
                                        {{#frequency}}
                                            <{{#user}}
                                            <th style="text-align:center;"><span>{{price}}</span></th>
                                            {{/user}}
                                        {{/frequency}}

                                    </script>
                                -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">



        </div>
    </div>





</div>
