<div style="background-color:#ffffff;margin-bottom:5px;padding:20px 0;text-align:center">
    <img class="kt-logo" src="img/kt_logo.jpg" alt="" />
    <h3>주파수 모의 경매 시스템</h3>
</div>
<div style="background-color:#ffffff;padding:20px;">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-md-3 control-label"><i class="fa fa-user"></i> 입찰자 :</label>
        <div class="col-md-9 _login_bidder">
            <label class="radio-inline">
                <input type="radio" name="login_bidder" value="admin" checked> 관리자
            </label>
            <label class="radio-inline">
                <input type="radio" name="login_bidder" value="kt"> KT
            </label>
            <label class="radio-inline">
                <input type="radio" name="login_bidder" value="sk"> SK
            </label>
            <label class="radio-inline">
                <input type="radio" name="login_bidder" value="lg"> LG
            </label>
        </div>
      </div>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-md-3 control-label"><i class="fa fa-bolt"></i> 제한주파수 :</label>
          <div class="col-md-9 _login_hertz">
              <label class="radio-inline">
                  <input type="radio" name="hertz" value="20"> 20Hz
              </label>
              <label class="radio-inline">
                  <input type="radio" name="hertz" value="40"> 40Hz
              </label>
              <label class="radio-inline">
                  <input type="radio" name="hertz" value="60" checked> 60Hz
              </label>
          </div>
        </div>

      <!-- <div class="form-group">
        <label for="inputPassword3" class="col-md-3 control-label"><i class="fa fa-lock"></i> 암호 :</label>
        <div class="col-md-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="암호">
        </div>
      </div> -->

      <div class="form-group">
        <label class="col-md-3 control-label"><i class="fa fa-compass"></i> 입찰전략 :</label>
        <div class="col-md-9">
         <textarea class="form-control _login_bidder_strategy" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat _login_btn"><i class="fa fa-sign-in"></i><strong> 로그인</strong></button>
        </div>
      </div>
    </form>
    <footer class="main-footer">

    </footer>
</div>

<div style="background-color:#ffffff;margin-top:5px;padding:20px 0;text-align:center">
    <div style="text-align:center">
        <div><strong>Copyright &copy; 2016 <a href="http://www.kt.com">KT CORP</a>.</strong> All rights reserved.</div>
    </div>
</div>
