<div style="background-color:#ffffff;margin-bottom:5px;padding:20px 0;text-align:center">
    <img class="kt-logo" src="img/kt.jpg" alt="" />
    <h3>주파수 모의 경매 시스템</h3>
</div>
<div style="background-color:#ffffff;padding:20px;">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-md-3 control-label"><i class="fa fa-user"></i> 입찰자 :</label>
        <div class="col-md-9">
          <select class="form-control">
            <option>입찰자선택</option>
            <option>ADMIN</option>
            <option>KT</option>
            <option>SK</option>
            <option>LG</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-md-3 control-label"><i class="fa fa-lock"></i> 암호 :</label>
        <div class="col-md-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="암호">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-md-3 control-label"><i class="fa fa-compass"></i> 입찰전략 :</label>
        <div class="col-md-9">
         <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">로그인</button>
        </div>
      </div>
    </form>
</div>
