<div class="container-fluid">
    <!--  최저경쟁가격-->
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-navy">
                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 최저경쟁가격</strong></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th style="text-align:center;">700Mhz</th>
                            <th style="text-align:center;">2.1Ghz</th>
                            <th style="text-align:center;">2.6Ghz</th>
                            <th style="text-align:center;">1.8Ghz(협)</th>
                            <th style="text-align:center;">2.6Ghz(협)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>최저경쟁가격</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>최소입찰액</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>입찰금액</td>
                            <td>
                                <input type="text" class="form-control" placeholder="">
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="">
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="">
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="">
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="">
                            </td>
                        </tr>
                        <tr>
                            <td>블록별가격증가율</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>블록별가격증가율</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1순위 블록 필요입찰액</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <button type="button" class="btn btn-default" style="margin-right:10px;"><strong><i class="fa fa-check"></i> 입찰</strong></button>
                    <button type="button" class="btn btn-default" style="margin-right:10px;"><strong><i class="fa fa-ban"></i> 유예</strong></button>
                    <button type="button" class="btn btn-default"><strong><i class="fa fa-times"></i> 포기</strong></button>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 최소입찰증분</strong></div>
                <h1 class="text-center">
                    4%
                </h1>
            </div>
        </div> -->

    </div>

    <!--  /오름입찰-->
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            <div class="panel panel-navy">
                <div class="panel-heading"><i class="fa fa-arrow-circle-right"></i><strong> 오름입찰</strong></div>
                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>

                        <tr>
                            <th>구분</th>
                            <th style="text-align:center;" colspan="3">700Mhz</th>
                            <th style="text-align:center;" colspan="3">2.1Ghz</th>
                            <th style="text-align:center;" colspan="3">2.6Ghz</th>
                            <th style="text-align:center;" colspan="3">1.8Ghz(협)</th>
                            <th style="text-align:center;" colspan="3">2.6Ghz(협)</th>

                        </tr>
                        <tr>
                            <th>사업자</th>
                            <th style="text-align:center;"><span>KT</span></th>
                            <th style="text-align:center;"><span>SK</span></th>
                            <th style="text-align:center;"><span>LG</span></th>

                            <th style="text-align:center;"><span>KT</span></th>
                            <th style="text-align:center;"><span>SK</span></th>
                            <th style="text-align:center;"><span>LG</span></th>

                            <th style="text-align:center;"><span>KT</span></th>
                            <th style="text-align:center;"><span>SK</span></th>
                            <th style="text-align:center;"><span>LG</span></th>

                            <th style="text-align:center;"><span>KT</span></th>
                            <th style="text-align:center;"><span>SK</span></th>
                            <th style="text-align:center;"><span>LG</span></th>

                            <th style="text-align:center;"><span>KT</span></th>
                            <th style="text-align:center;"><span>SK</span></th>
                            <th style="text-align:center;"><span>LG</span></th>

                        </tr>
                        <tr>
                            <th>시작가</th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                        </tr>
                        <tr>
                            <th>1</th>
                            <th style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                        </tr>
                        <tr>
                            <th>2</th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span class="label label-primary" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span class="label label-primary" style="font-size:100%">3980</span></th>

                        </tr>
                        <!-- <tr>
                            <th>시작가</th>
                            <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                            <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                            <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                            <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>

                            <th style="text-align:center;"><span class="label label-default" style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th style="text-align:center;"><span class="label label-default"  style="font-size:100%">3980</span></th>
                            <th></th>
                            <th></th>
                        </tr> -->

                        <!-- <tr>
                            <th>입찰액</th>
                            <th>사업자</th>
                            <th>입찰액</th>
                            <th>사업자</th>
                            <th>입찰액</th>
                            <th>사업자</th>
                            <th>입찰액</th>
                            <th>사업자</th>
                            <th>입찰액</th>
                            <th>사업자</th>
                        </tr> -->
                        <!-- <tr>
                            <td>1</td>

                            <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                            <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                            <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                            <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                            <td style="text-align:center;"><span class="label label-danger" style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-primary"  style="font-size:100%">3980</span></td>
                            <td style="text-align:center;"><span class="label label-success"  style="font-size:100%">3980</span></td>

                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>승자</th>
                            <th style="text-align:center;" colspan="3">KT</th>
                            <th style="text-align:center;" colspan="3">SK</th>
                            <th style="text-align:center;" colspan="3">LG</th>
                            <th style="text-align:center;" colspan="3"></th>
                            <th style="text-align:center;" colspan="3"></th>
                            <th>승자</th>
                            <th>페지</th>
                        </tr> -->
                        <tr>
                            <th>현재가</th>
                            <th style="text-align:center;"><span class="text-warning">3980</span></th>
                            <th style="text-align:center;"><span class="text-warning">3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span class="text-warning">3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>
                            <th style="text-align:center;"><span>3980</span></th>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
